.header{
    /* background-color: cornflowerblue; */
    padding: 10px;
    color: cornflowerblue;
}

.header ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li{
    display: flex;
    align-items: center;
    margin: 0 10px;
    text-decoration: underline;
}

ul li:nth-child(4){
    text-decoration: none;
}

.header_Login{
    position: absolute;
    left: 82rem;
    top: 19px;
    display: flex;
    align-items: center;
}

.header_Login button{
    width: 5rem;
    padding: 7px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: #fff;
    font-size: 15px;
}